
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', 'Inter';
    /* overflow-x: hidden; */
}

.section1{
    width: 100%;
    min-height: 754px;
    background-image: url(Rectangle\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* centers my content horizontally  */
.container1{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.content1 {
    display: flex;
    flex-direction: column;
}

/* Hero Upper section */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 45px 40px 0 40px;
    align-items: center;
    gap: 40px;
    position: relative;
    /* padding-top: 45px; */  
}
.burger {
  display: none;
  font-size: 26px;
  cursor: pointer;
  z-index: 1001;
}
.nav-links {
  display: flex;
  gap: 40px;
  
}
.nav-links a{
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
}
.nav-links a:hover {
    text-decoration: underline;
    color: #F84646;
}
.navbtn {
   
    border: 2px solid #F84646;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    background: #F84646;
    color: #FFFFFF;
    padding: 10px 20px;
    /* margin-right: 145px; */
}
.navbtn:hover {
    background-color: #FFFFFF;
    color: #000000;
}

/* Hero Section */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 665px;
    height: auto;
    margin: 128px auto 148px 122px;
    /* margin-top: 128px;
    margin-left: 122px;
    margin-bottom: 148px;
    margin-right: auto; */
     /* margin-right: 653px; */

}

.hero h1{
    font-weight: 800;
    font-size: 64px;
    line-height: 82px;
    letter-spacing: 0%;
    color: black;
   
}
.hero p{
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.2px;
    align-content: left;
    margin-top: 20px;
    text-align: left;
    /* width: 650px;
    height: 99px; */
}

.message-bar {
    max-width: 502px;
    /* height: 73px; */
    margin-top: 50px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 6px;
    
}

.message-input {
    flex: 1;
    /* height: 36px; */
    /* width: 178px; */
    border: none;
    padding: 19px 10px 18px 32px;
    font-size: 16px;
    font-family: 400;
    color: #00000066;
}

.send-button {
    width: 136px;
    height: 61px;
    border: 2px solid #F84646;
    border-radius: 8px;
    background-color: #F84646;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.2px;
}
.send-button:hover {
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #F84646;
}


@media (max-width: 1024px) {
  .section1 {
    min-height: auto;
    /* height: 647px;  */
    background-position: center; 
    background-size: cover;
    /* max-width: 1024px; */
  }

  .container1 {
    /* max-width: 1024px; */
    padding: 0 30px; 
  }

  .nav {
    gap: 30px;
    padding-top: 30px;
  }

  /* .navbtn {
    margin-right: 50px; 
  } */

  .hero {
    margin: 80px auto 80px 80px; 
  }

  .hero h1 {
    font-size: 56px;
    line-height: 74px;
  }

  .hero p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    max-width: 565px;
  }

  .message-bar {
    /* width: 100%; */
    max-width: 522px;
  }
}

 
/*  MOBILE  */
@media (max-width: 768px) {
  .nav {
    /* align-items: center; */
    justify-content: space-between;
    padding: 20px;
  }

  .section1 {
    /* position: relative;
    height: 601px; */
    background-position: 62% center;
  }

  /* .section1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.5);
    z-index: 1;
  } */

  /* .container1 {
    position: relative;
    z-index: 2;
  } */
   .navbtn {
    margin-right: 0px;
  } 
  .burger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 200px;
    background: #FFF;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }

  .nav-links.show {
    display: flex;
  }

  .hero {
    margin: 66px auto;
    max-width: 100%;
    text-align: center;
    /* padding: 0 20px; */
    /* i'll decide this later */
  }

  .hero h1 {
    font-size: 36px;
    font-weight: 800;
    line-height: 48px;
    width: 335px;
  }

  .hero p {
    font-size: 14px;
    font-weight: 400;
    width: 335px;
    line-height: 24px;
    margin-top: 16px;
    text-align: center;
  }

  .message-bar {
    flex-direction: row; 
    max-width: 100%;
    margin: 30px auto 0 auto;
    width: 335px;
    height: 60px;
  }

  .message-input {
    padding: 0px;
    /* flex: 1; */
  }

  .send-button {
    /* margin-left: 0px; */
    /* width: 90px; */
    width: 100%;
    height: 50px;
    
  }
}









/* 2nd Page Styling */
 
.section2 {
    width: 100%;
    /* min-height: 989px; */
    /* height: 989px; */
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 120px 20px 140px 20px;
    /* padding-bottom: 140px;
    padding-top: 120px; */
   
} 
.container2 {
    width: 100%;
    max-width: 1440px;
    /* height: 100%; */
    margin: 0 auto;  
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.content2 {
    width: 100%;
    max-width: 1153px;
    /* height: auto; */
    /* height: 793px; */
    display: flex;
    /* padding-top: 100px; */
    flex-direction: column;
    align-items: center;    

}
 .upper-content2 {
  text-align: center;
}
.upper-content2 h2 {
    text-align: center; 
    font-size: 36px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0%;
    margin: 0;
} 

 .upper-content2 p{
    font-weight: 400;
    font-size: 24px;
    line-height: 39.5px;
    letter-spacing: 0.2px;
    margin-top: 30px;
    text-align: center;
    padding-left: 30px;
    padding: 0 20px;  
    max-width: 994px;
}  

 .features-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* column-gap: 116px;
  row-gap: 80px; */
  width: 100%;
  gap: 60px 60px;
  max-width: 1153px;
    margin-top: 90px;
    /* margin-left: 143px;
    margin-right: 144px;
    margin-bottom: 15px; */
    /* padding: 0px 20px; */
} 

.feature img {
  max-width: 100%;
  height: auto;
}
.feature {
    /* max-width: 320px; */
    text-align: center;
    margin: 0 auto;
} 

.feature h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 10px;
}
.feature p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
    margin-top: 10px;
    padding: 0 10px;
}

/* For tablets */
@media (max-width: 1024px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .upper-content2 h2{
    font-size: 36px;
  }
  .upper-content2 p{
    font-size: 24px;
    line-height: 32px;
  }
}

/* For Phone */
@media (max-width: 768px) {
  .features-grid {
    grid-template-columns: 1fr; 
   
  }
  .upper-content2 h2 {
    font-size: 24px; 
    font-weight: 800;
  }
   .upper-content2 p {
    font-size: 14px;
    line-height: 22px;
  }
}






/* 3rd Red Section */

.section3 {
  width: 100%;
  background-color: #F84646;
  position: relative;
  overflow: hidden;
}

.section3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 130px;
  background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 3px);
  background-size: 20px 20px;
  background-repeat: repeat;
  background-position: left bottom;
}

.container3 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.content3 {
  color: #FFFFFF;
  text-align: center;
  padding: 80px 20px;
}

.content3 h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
}

.content3 > p {
  margin-top: 22px;
  font-size: 20px;
  line-height: 32px;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px; 
  margin-top: 40px;
}
.feature-item {
  max-width: 250px;
}

.feature-item p {
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.features img {
  width: 26px;
  height: 28px;
}

/* Responsivness */


@media only screen and (max-width: 1024px) {
  .content3 h2 {
    font-size: 48px;
    font-weight: 800;
  }

  .content3 > p {
    font-size: 18px;
  }

  .features {
    gap: 30px;
  }

  .feature-item p {
    font-size: 17px;
  }
 
}

@media only screen and (max-width: 768px) {
  .content3 h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .content3 > p {
    font-size: 14px;
    line-height: 22px;
  }

  .features {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
  }

  /* .features img {
    transform: rotate(90deg);
  } */

  .feature-item {
    max-width: 90%;
  }

  .feature-item p {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }
}




/* Section 4 which have 2 images as vertically */



.section4 {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
}

.container4 {
  width: 100%;
  max-width: 1197px;
  padding: 180px 20px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

/* Grid Blocks */
.block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 85px;
}

.block-text h2 {
  font-size: 64px;
  line-height: 76px;
  font-weight: 700;
  margin: 0;
}

.block-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-top: 40px;
  
  /* max-width: 523px; */
  color: #808080;
}

.btn4 {
  display: inline-block;
  width: 160px;
  height: 48px;
  border-radius: 8px;
  background: #F84646;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 90px;
  border: none;
  cursor: pointer;
}

.btn4:hover {
  background: #fff;
  color: #000;
  border: 2px solid #F84646;
}

.block-image img {
  width: 100%;
  max-width: 504px;
  border-radius: 8px;
  display: block;
}

/* Upper Block: text left, image right */
.block-upper {
  grid-template-areas: "text image";
}

.block-upper .block-text {
  grid-area: text;
}

.block-upper .block-image {
  grid-area: image;
}

/* Lower Block: image left, text right */
.block-lower {
  grid-template-areas: "image text";
}

.block-lower .block-image {
  grid-area: image;
}

.block-lower .block-text {
  grid-area: text;
}

/* Tablet */
@media (max-width: 1024px) {
  .container4 {
    padding: 120px 20px;
    gap: 80px;
  }

  .block {
    gap: 40px;
  }

  .block-text h2 {
    font-size: 48px;
    line-height: 56px;
  }

  .block-text p {
    font-size: 15px;
    line-height: 28px;
    
  }

  .btn4 {
    margin-top: 60px;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .container4 {
    padding: 80px 20px;
    gap: 60px;
  }

  .block {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "text";
    text-align: center;
  }

  .block-text {
    text-align: center;
  }

  .block-text h2 {
    font-size: 32px;
    line-height: 42px;
  }

  .block-text p {
    font-size: 14px;
    line-height: 28px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; 
  }

  .btn4 {
    margin-top: 40px;
    width: 338px;
    padding: 12px;
    border-radius: 8px;
  }

  .block-image img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}





/* Logo Section Styling */

.references-section {
  width: 100%;
  background: #f4f5f7;
  padding:  80px 20px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headings {
  width: 100%;
  max-width: 1110px;
  /* height: 101px; */
  text-align: center;
}

.headings h2 {
    font-weight: 800;
    font-size: 48px;
    letter-spacing: 0%;
    line-height: 64px;
    margin: 0;
}

.headings p {
  margin: 5px 0 0 0;
  font-size: 18px;
  font-weight: 500;
}

.logo-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 946px;   
  /* height: 336px;   */
  gap: 24px;      
  margin-top: 48px;
}

.column {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* gap: 24px;   */
}
.column .logo-card:not(:last-child) {
  margin-bottom: 32px;
}
.logo-card {
  background: #fff;
  border-radius: 8px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.09);
}

.logo-card img {
  max-width: 130px; 
  height: auto;
}


/* for tablets */

@media (max-width: 1024px) {
  .logo-grid {
    max-width: 90%; /* smaller than 946px */
    flex-wrap: nowrap; 
    overflow-x: auto;
    gap: 16px; 
    justify-content: flex-start;
    padding-left: 16px;
  }
  .references-section {
    padding: 60px 20px;
  }
  .column {
    flex: 1 1 180px; 
    align-items: center;
  }
 
}

@media (max-width: 480px) {
  .logo-grid {
    display: flex;
    flex-direction: column;
    align-items: center; /* center single column */
    max-width: 100%;
    /* flex-wrap: nowrap; */
  
  }

  .column {
    flex-direction: column;
    align-items: center;

  }
   
   .logo-grid .column {
    display: contents; /* treat column as no box! */
  }

  .logo-card:not(:last-child) {
    margin-bottom: 32px;
  }

  .column,
  .column:not(:last-child) {
    margin: 0; /* Remove any leftover column margin */
  }

  .references-section {
    padding: 40px 20px;
    margin-bottom: 40px;
  }
  
  .logo-card {
    max-width: 80%;
  }
  .headings p {
    font-size: 14px;
    font-weight: 500;
  }
  .headings h2 {
    font-size: 36px;
    font-weight: 700;
  }
}


                                                /* user section */

.section6 {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;

}
.container6 {
    width: 100%;
    max-width: 1440px;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 645px;
    height: 314px;
    margin-top: 160px;
    margin-bottom: 160px;
    
}
.user img {
    width: 120px;
    height: 120px;
    
}
.user h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}
.user p{  
    width: 645px;   
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 20px;
}

.btn6 {
     width: 204px;
    height: 70px;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: #F84646;
    color: #FFFFFF;
    border: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    margin-top: 30px;
    padding: 25px 40px;
}
.btn6:hover {
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #F84646;

}
/* responsive of user section */

@media (max-width: 1024px) {
  .user {
    width: 80%;
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .user h2 {
    font-size: 48px;
    line-height: 32px;
  }

  .user p {
    font-size: 18px;
    line-height: 32px;
  }

  .btn6 {
    width: 204px;
    height: 70px;
    padding: 25px 40px;
  }
}
/* for phone */
@media (max-width: 480px) {
  .user {
    width: 90%;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .user h2 {
    font-size: 36px;
    line-height: 38px;
  }

  .user p {
    width: 335px;
    font-size: 14px;
    line-height: 25px;
    padding: 12 20px;
  }

  .btn6 {
    width: 124px;
    max-width: 250px;
    height: 42px;
    padding: 11px 20px;
    margin-top: 20px;
  }
}


/* Footer */

 .footer {
    width: 100%;
    background-color: #F84646;
    /* height: 600px; */
     /* height: auto; */
    display: flex;
    justify-content: center;
    font-family: 'Inter';
}

.container-footer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 60px 40px;
} 

.footer-columns {
    /* width: 1034px; */
    /* height: 304%; */
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: 80px 302px 152px 104px; */
    color: #FFFFFF;
    gap: 80px;
}

.footer-columns > div {
  flex: 1 1 200px; /* flex-grow: 1, flex-basis: 200px */
  min-width: 180px;
}

.footer-columns h4 {
    font-family: Inter;
font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
padding-bottom: 24px;

} 
.footer-columns ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-columns li {
   text-align: left;
} 

.footer-columns a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0%;
  white-space: nowrap; 
}

.footer-columns a:hover {
    text-decoration: underline;
} 

/* Bottom Footer */

 .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    padding-top: 20px;
    /* padding-left: 100px; */
    /* margin-bottom: 70px; */
}
.left-bottom h3 {
    color: #FFFFFF;
    font-family: Inter;
font-weight: 400;
font-size: 16px;
line-height: 32px;
letter-spacing: 0%;
margin: 0;
}

.social-icons {
    
    display: flex;
    flex-direction: row;
    gap: 16px;
} 


/* for tablet */
@media (max-width: 1024px) {
  .container-footer {
    padding: 60px 30px;
  }
  .footer-columns {
    gap: 40px;
  }
}

/* for phone */

@media (max-width: 768px) {
  .footer-columns {
    flex-direction: column;
    gap: 30px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}



